/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral para a página */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#1289eb, #12d61c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container das telas */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada e botões */
input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50px;
    border: 1px solid #ccc;
}

/* Estilo do botão */
button {
    background-color: #1cd848;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #1ca1d6;
}

/* Link de navegação */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


